.polyglot-page .col {
    float:left;
    width:50%;
}

.polyglot-page .group:before,
.polyglot-page .group:after {
    content: "";
    display: table;
}
.polyglot-page .group:after {
    clear: both;
}
.polyglot-page .group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.polyglot-page .dynamic-translations .on  {
    background: #00a0d2;
    border-color: #0073aa;
    -webkit-box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.5), 0 1px 0 rgba( 0, 0, 0, 0.15 );
    box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.5 ), 0 1px 0 rgba( 0, 0, 0, 0.15 );
    color: #fff;
    text-decoration: none;
    display:inline-block;
}


.polyglot-page .box {
    display: inline-block;
    margin:1em;
    padding: 1em;
}

.polyglot-page header {
    height:140px;
}

.polyglot-page .title {
    float: left;
    margin-top:1em;
}

.polyglot-page .scanner {
    float: right;
    margin:2em;
    padding:1em;
    width:20%;
    text-align:center;
}

.polyglot-page .scanner p {
    color:#999;
    background:#fff;
    padding:1em;
}

.polyglot-page .scanner .button {
    width:100%;
}
